.DS_Store
.cocos-project.json
CMakeLists.txt
Resources/Default/.DS_Store
Resources/fonts/.DS_Store
cocos2d/
proj.android/
proj.ios_mac/
proj.linux/
proj.win32/
proj.win8.1-universal/
proj.wp8-xaml/
CMakeLists.txt
cocos2d
proj.android
proj.ios_mac
proj.linux
proj.win32
proj.win8.1-universal
proj.wp8-xaml
