<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bubble/bubble_default_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Bubble/bubble_default_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Bubble/bubble_default_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Bubble/bubble_default_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Bubble/bubble_default_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Bubble/waves_right_end_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_end_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_end_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,478},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_end_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_end_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_end_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,734},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,862},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,926},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,350},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_middle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,64},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,128},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,192},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,256},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,414},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_right_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,478},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,542},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,606},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,670},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,734},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,798},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,862},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,926},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,320},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,64},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,128},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bubble/waves_top_end_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,192},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Bubble.png</string>
			<key>realTextureFileName</key>
			<string>Bubble.png</string>
			<key>size</key>
			<string>{256,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>